body {
    background-color: #bddeec;
}
.box-container {
    border: 6px solid;
    width: 100%;
    height: 100%;
    min-height: 200px;
    padding: 5px;
    border-radius: 10px;
    border-image: linear-gradient(to right, #3A9BDC, #5579C6, #1260CC) 1;
  }

  .centerTitle {
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  .boxtitle {
    border: 6px solid;
    width: 60%;
    height: 60%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #3A9BDC #5579C6 #1260CC;
    top: 50%;
    left: 50%;
    transform: translate(30%, 5%);
  }

  .boxtitle2 {
    border: 6px solid;
    width: 60%;
    height: 60%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #3A9BDC #5579C6 #1260CC;
    box-shadow: -5px -5px 30px 5px #1170ed, 5px 5px 30px 5px #69e2f0;
    top: 50%;
    left: 50%;
    transform: translate(30%, 5%);
  }


  h1 {
    font-family: 'Kanit', sans-serif;
  }

  p {
    font-family: "droid-serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  input {
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    color: #333;
    padding: 5px;
    outline: none;
    transition: border-bottom 0.3s ease-in-out;
    width: 50%;
  }

  input:focus {
    border-bottom: 2px solid #008080;
  }

  .animated-button {
    position: relative;
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }

  .animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }

  .animated-button:hover::before {
    width: 100%;
  }

  .animated-button:hover {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .navbar {
    background-color: #1E90FF; /* blue color theme */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
  }

  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-item {
    margin-left: 30px;
  }

  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }

  .navbar-item a:hover {
    background-color: white;
    color: #1E90FF;
    transition: all 0.2s ease-in-out;
  }

  .centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .animated-button {
    margin-top: 20px;
  }

  .box {
    background-color: #3A9BDC;
    border: 6px solid #5579C6;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .animated-button {
    background-color: #FFFFFF;
    color: #3A9BDC;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    margin-top: 20px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .backgroundImage {
    background-image: url("/assets/youngPenguin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background: linear-gradient(to right, #0077be, #0087cf);
    color: #fff;
    border: 2px solid #0077be;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  }
  .full-box {
    background-color: #0077be;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    margin-top: 20%;
    border-radius: 10px;
  }
  
  .full-box img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }
  
  .full-box h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .full-box p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;
  }
  .full-box img {
    display: block;
    margin: 0 auto 20px;
    max-width: 30%;
  }
  .informationboxLeft {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background: linear-gradient(to right, #0077be, #0087cf);
    color: #fff;
    border: 2px solid #0077be;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  }
  .informationboxLeft img {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    border-radius: 50%;
  }
  .informationboxLeft h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  .informationboxLeft p {
    font-size: 18px;
    margin: 10px 0 0;
  }
  .informationboxRight {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background: linear-gradient(to right, #0077be, #0087cf);
    color: #fff;
    border: 2px solid #0077be;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  }
  .informationboxRight img {
    float: right;
    margin-right: 20px;
    max-width: 100%;
    border-radius: 50%;
  }
  .informationboxRight h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  .informationboxRight p {
    font-size: 18px;
    margin: 10px 0 0;
  }
  .backgroundImageHabitat {
    background-image: url("/assets/antarctica.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
  }
  .containerHabitat {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #0077be;
    box-shadow: 0px 0px 20px #0077be;
    }
    
    .boxHabitat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    }
    
    .boxHabitat img {
    float: left;
    margin-left: 20px;
    width: 30%;
    border-radius: 10%;
    }
    
    .boxHabitat h2 {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 24px;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
    
    .boxHabitat p {
    font-size: 18px;
    margin: 10px 0 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
    .blueBox {
      margin-top: 10%;
      background-color: #0077be;
      box-shadow: 0px 0px 20px #0077be;
      color: white;
      padding: 20px;
      box-sizing: border-box;
    }
    
    .blueBoxContent {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    
    .blueBoxImage {
      width: 30%;
      border-radius: 10%;
      margin-left: 20px;
    }
    
    .blueBoxText {
      text-align: left;
      padding-right: 5%;
    }
    
    .blueBox h2 {
      font-size: 24px;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
    
    .blueBox p {
      font-size: 18px;
      margin: 10px 0 0;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
    .map-container {
      margin-top: 10%;
      border: 2px solid #0077be;
      border-radius: 10px;
      overflow: hidden;
    }
    .backgroundImageImpress {
      background-image: url("/assets/penguin.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-size: cover;
    }
    .impressumBox {
      background-color: #0077be;
      color: white;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 20px #0077be;
    }
    
    .impressumBox h2 {
      text-align: center;
      font-size: 24px;
      margin: 0 0 20px;
    }
    
    .impressumBox p {
      font-size: 18px;
      margin: 10px 0;
    }